<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<input type="hidden" id="id">
<input id = "firstName" placeholder="firstName">
<input id = "lastName" placeholder="lastName">
<button onclick="create()" >Create Customer</button>
<button onclick="editCustomer()">Update Customer</button>
<form >
  <input type="text" id="search" name="search" placeholder="search">
  <input type="submit" value="Search" onclick="searchCustomer()">
</form>
<!--<a href="/create-customer">Create new customer</a>-->
<h1>Customers</h1>
<table border="1" >
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
  </tr>
  <tbody id = "customers" >
  <td>3</td>
  <td>batran</td>
  <td>100con</td>
  <td><a></a></td>
  </tbody>
</table>
<!--  <th:block th:each="custome : ${customer}">-->
<!--    <tr>-->
<!--      <td th:text="${custome.firstName}"></td>-->
<!--      <td th:text="${custome.lastName}"></td>-->
<!--      <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>-->
<!--      <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>-->
<!--    </tr>-->
<!--  </th:block>-->
  <script type="text/javascript">
    function getCustomer(customer) {
      return `<tr><td >${customer.name}</td><td >${customer.age}</td>
                <td><a href="${customer.id}" onclick="showFormUpdate(this)">Edit</a></td>
                <td><a href="${customer.id}" onclick="deleteCustomer(this)">Delete</a></td>
                </tr>`
    }
    function showAllCustomer() {
      //1. lay du lieu tu phia backend
      $.ajax({
        //loai cua request: GET, POST, PUT, ....
        type: "GET",
        //duong dan cua API
        url: "http://localhost:8080/api/customers",
        //xu ly luc thanh cong
        success: function (data) {
          //2. ve lai cai bang
          let content ="";
          for (let i = 0; i < data.length; i++) {
            content+=`<tr><td>${data[i].id}</td>
        <td>${data[i].firstName}</td>
        <td>${data[i].lastName}</td>
        <td><a href="${data[i].id}" onclick="deleteCustomer(this)">Xoa</a></td>
        <td><a href="${data[i].id}" onclick="showFormEdit(this)">Edit</a></td></tr>`;
          }
          document.getElementById("tbody").innerHTML = content;
        }
      })
    }
    showAllCustomer();

    function create() {
      //lay ten
      let firstName = document.getElementById("firstName").value;
      let lastName = document.getElementById("lastName").value;
      //chuyen sang doi tuong
      let ob = {
        firstName: firstName,
        lastName: lastName
      }

      $.ajax({
        headers:{
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "POST",
        data: JSON.stringify(ob),
        url: "http://localhost:8080/api/customers",
        success: function () {
          showAllCustomer();
        }
      })
    }
    function deleteCustomer(element){
      let id = element.getAttribute("href");
      $.ajax({
        type:"DELETE",
        url:"http://localhost:8080/api/customers/" +id,
        success: function (data){
          showAllCustomer();
        }
      })
      event.preventDefault();
    }
    function editCustomer() {
      let id = $('#id').val();
      let firstName= $('#firstName').val();
      let lastName=$('#lastName').val();
      let customer={
        firstName:firstName,
        lastName:lastName
      }
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "PUT",
        url: `http://localhost:8080/api/customers/${id}`,
        data:JSON.stringify(customer),
        success: function (data) {
          console.log(id);
          showAllCustomer();
        }
      })
      event.preventDefault();
    }
    function showFormEdit(element){
      let id = element.getAttribute("href");
      console.log(id);
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        type: "GET",
        url: `http://localhost:8080/api/customers/${id}`,
        success: function (data) {
          console.log(data);
          console.log(id);
          $('#id').attr('value',`${data.id}`)
          $('#firstName').attr('value',`${data.firstName}`)
          $('#lastName').attr('value',`${data.lastName}`)
        }
      })

      event.preventDefault();


    }

    function searchCustomer(){
      let search1= $('#search').val();
      console.log(search1)
      $.ajax({
        headers:{
          'Accept':'application/json',
          'Content-Type': 'application/json'
        },
        type:"GET",
        url: "http://localhost:8080/api/customers/search?search="+search1,
        success:function (data){
          console.log(data)
          let str="";
          for (let i = 0; i < data.content.length; i++) {
          str +=`<tr><td>${data.content[i].id}</td>
        <td>${data.content[i].firstName}</td>
        <td>${data.content[i].lastName}</td>
        <td><a href="${data.content[i].id}" onclick="deleteCustomer(this)">Xoa</a></td>
        <td><a href="${data.content[i].id}" onclick="showFormEdit(this)">Edit</a></td></tr>`;
          }
          document.getElementById('customers').innerHTML = str;
        }
      })

      event.preventDefault();
    }
  </script>
</body>
</html>